In [112]:
import pandas as pd
import os
%cd ../fixtures/

/content/fixtures

In [113]:
master_df = pd.DataFrame()
accumulator_df2 = pd.DataFrame()
PATH = os.path.join(os.getcwd())

for file in os.listdir(PATH):
  if file.endswith('.csv'):
    accumulator_df = pd.read_csv(file)
    accumulator_df = accumulator_df.assign(filename = file)
    master_df = master_df.append(accumulator_df)

master_df

,email_hash,category,filename
0,b9f6f22276c919da793da65c76345ebb0b072257d12402...,Blouses,clothing.csv
1,c2b5fa9e09ef2464a2b9ed7e351a5e1499823083c05791...,Shirts,clothing.csv
2,faaee0ff7d06b05313ecb75d46a9aed014b11023ca1af5...,Blouses,clothing.csv
3,5cd72da5035f2b36b604a16efc639cd04b6cfae7e487dc...,Shirts,clothing.csv
4,00449a86bb34e443a5f84635661f63514574a030a15e2e...,Cardigans,clothing.csv
...,...,...,...
825,c1f3ce7004f2a5c95fdddc002319f2186d4838de68f0d8...,Kitchen Cleaner,household_cleaners.csv
826,3a008bb70763d4b6429fdda15dccac3501f2360744f43c...,Kitchen Cleaner,household_cleaners.csv
827,4d275bb1eedfba7a307d3d1b0b1e6459743ec232b9b05b...,Kitchen Cleaner,household_cleaners.csv
828,3931ed938bd5ed296b7ea4b7ea753029adc3f1199273f7...,Bathroom Cleaner,household_cleaners.csv
829,fa76c33e58b5cbd453ba5b89b41015097ba25e5ea6eec7...,Bathroom Cleaner,household_cleaners.csv

In [77]:
os.getcwd()

'/content'